.helper-block{
	color: red !important;
}

.elf-popup{
  z-index: 9999999999999 !important;
  position: absolute !important;;
  left: 0 !important;
  right: 0 !important;
  margin-left: auto !important;
  margin-right: auto !important; 
  width: auto !important;
  top:150px !important;
}